body{
    margin: 0;
}

@font-face {
    font-family: pixels;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

nav{
    border: 1px solid transparent;
    width: 100%;
    height: 3em;
    text-align: center;
    padding-top: 2%;
    background-color: #B5EECB;
    font-family: pixels;
}

.record{
    height: 4em;
    font-size: 1.2em;
    text-align: center;
}
.row1{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap:.2%;
  }
  .row1>button{
    border-radius:.2em;
    text-align:center;
    height:2em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row2{
    margin-top:.5%;
    display:grid;
    grid-template-columns: 13fr 2fr;
  }
  .row2>.section1{
    display:grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap:.2%;
  }
  .row2>.section1>button{
    display:grid;
    grid-template-rows:repeat(2, 1fr);
    padding:1%;
    height:3.5em;
    border-radius:.2em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .section2>button{
    width:100%;
    height:100%;
    border-radius:.2em;
    margin:.2%;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row3{
    display:grid;
    grid-template-columns: 1.2fr 12fr 1.7fr;
    margin-top:.2%;
    grid-gap:.2%;
  }
  
  .row3>.section1>button{
    width:100%;
    height:4em;
    border-radius:.2em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row3>.section2{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:.2%;
  }
  
  .row4{
    display: grid;
    grid-template-columns: 1.5fr 12fr 1.5fr;
    margin-top:.2%;
    grid-gap:.2%;
  }
  
  .row4>.section1>button{
    width:100%;
    height:4em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row4>.section2{
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-gap:.2%;
  }
  
  .row5{
    display:grid;
    grid-template-columns: 1.1fr 11fr 1.9fr;
    grid-gap:.2%;
    margin-top:.2%;
  }
  
  .row5>.section1>button{
    width:100%;
    height:4em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row5>.section2{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:.2%;
  }
  
  .row5>.section3>button{
    width:100%;
    height:4em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row6{
    display:grid;
    grid-template-columns: 1.7fr 2fr 8.3fr 8fr;
    grid-gap:.2%;
    margin-top:.2%;
  }
  
  .row6>.section1>button{
    width:100%;
    height:4em;
    outline: transparent;
    border: 1px solid #B5B2B0;
    
  }
  
  .row6>.section2{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:.2%;
  }
  
  .row6>.section2>button{
    height:4em;
    margin-right:1em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  
  .row6>.section3>button{
    width:100%;
    height:4em;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  .row6>.section4{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap:.2%;
  }
  
  .row6>.section4>button{
    height:4em;
    margin:1.2%;
    outline: transparent;
    border: 1px solid #B5B2B0;
  }
  
  button:hover{
    background-color:#B1B1B1;
  }
  
  button:active{
    background-color:#B5EECB;
  }